<div class="container">
  <div class="row">
    <h1>Welcome to your dashboard <%= current_user.login %> </h1>
  </div>

  <div class="row center-align">
    <%= link_to("Find Pairs", user_path(current_user.next_match), class: "waves-effect waves-light btn btn-large") %>
  </div>
</div>