@import "materialize/components/color";
$primary-color: color("red", "lighten-2") !default;
@import 'materialize';

body {
  background-color: #f5f5f5;
}

.image-size {
  // width: 300px !important;
}

.hero-unit {
  margin-top: -35px;
  background-image: image-url("pairing.png");
  background-size: cover;
  height: 100vh;
}